/* html
{
    scroll-behavior: smooth;
} */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    overflow-x: hidden; 
    overflow: hidden;
}
.min-color
{
    /* color: #f5b535; */
    color: #da2c38;
    /* color: tomato; */
}
.grayColor
{
    background-color: rgb(168, 167, 167);
}
.grayColor2
{
    background-color: #aaa;
}
/*Start Btn Up*/
#btnUp
{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99999;
    /* background-color: #f5b535; */
    background-color: #da2c38;
    display: none;
}
/*End Btn Up*/

/*Start NAVBAR*/
.navbar-dark .navbar-brand
{
    /* color: #f5b535 !important; */
    color: tomato !important;
    font-size: 1.5rem !important;
    font-weight: 500 !important;
}
nav a
{
    color: #fff !important;
    font-size: 1.15rem;
}
.navbar-nav li :hover
{
    /* color: #f5b535 !important; */
    color: tomato !important;
}
#main-nav
{
    transition: background-color 2s , padding 2s;
}
/*End NAVBAR*/

/*Start Header*/
header
{
    background-image: url(../images/header1.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
}
.header-overLayer
{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
}
.header-content h2
{
    font-size: 4.5rem;
}
.header h1
{
    font-size: 3rem;
    margin-left: 5rem;
}
.header-overLayer i
{
    padding: 10px 10px;
    font-size: 30px;
    color: #fff;
    transition: all 0.4s;
}
.fa-linkedin:hover
{
    /* color: #f5b535; */
    color: #da2c38;
}
.fa-github:hover
{
    /* color: #f5b535; */
    color: #da2c38;
}
@media only screen and (max-width: 600px) {
    .header-content :is(h1,h2,.header-icons) {
      margin-left: 10px !important;
    }
  }
/*End Header*/

/*Start About Me*/
.about h2
{
    font-size: 3.5rem;
    font-weight: 600;
    position: relative;
}
.about h2::before
{
    content: "";
    width: 7rem;
    height: 3px;
    background-color: #da2c38;
    position: absolute;
    bottom: 20%;
    left: 38%;
}
/* .about-img
{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */
.about-content
{
    font-size: 20px;
    /* line-height: 26px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about-img img
{
    /* height: 100%; */
    border-radius: 15px;
}
/* .about-content
{
    margin-top: 1.2rem;
} */
.about-content p
{
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8rem;
}
.btnCv
{
    color: #da2c38 !important;
    color: #fff !important;
    /* transition: all 2s; */
}
/* .btnCv:hover
{
    background: linear-gradient(to bottom right, #ff6057, #b5179e) !important;
} */
/*End About Me*/

/*Start Skills*/
#mySkills h2
{
    font-size: 3.5rem;
    font-weight: 600;
    position: relative;
}
#mySkills h2::before
{
    content: "";
    width: 6.2rem;
    height: 3px;
    background-color: #da2c38;
    position: absolute;
    bottom: 20%;
    left: 39%;
}
.skillsItem
{
    border: solid 2px #ddd;
    border-radius: 20%;
    cursor: pointer;
    height: 12rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
/* .skillsItem img
{
    object-fit: cover;
} */
.skillLayer
{
    /* background-color: #f5b535; */
    background-color: #da2c38;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50%;
    position: absolute;
    top: 88%;
    left: 0;
    right: 0;
    transition: all 1s;
}
.skillsItem:hover .skillLayer
{
    top: 50%;
}
.mquiry/*Database Design img*/
{
    height: 95%;
}
.skillsItem h6
{
    font-size: 1.2rem;
    transition: all 0.4s;
}
.skillLayer h6:hover
{
    color: #fff;
}
/*End Skills*/

/*Start Portfolio*/
.portfolio-item
{
    background-color:#fff; 
    color: #1e1e1e;
    border-radius: 10px;
    margin-bottom: 3rem;
    padding-bottom: 4rem;
    height: 38rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media only screen and (max-width: 600px) {
    .portfolio-item {
        height: 46rem;
    }
  }
.portfolio-icon
{
    padding-top: 4rem;
    padding-bottom: 1rem;
}
.portfolio-icon i,.imgFood
{
    font-size: 4rem;
    border: solid 10px #da2c38;
    color: #000 !important;
    border-radius: 50%;
    padding: 20px;
    transition: 0.2s;
}
.portfolio-item .imgFood
{
    width: 8rem;
    height: 8rem;
}
.portfolio-item:hover .imgFood
{
    color: #fff !important;
   background-color:  #da2c38;
   border-color: #bcd3eb;
}
.portfolio-item:hover i
{
    color: #fff !important;
   background-color:  #da2c38;
   border-color: #bcd3eb;
}
#portfolio h2
{
    font-size: 3.5rem;
    font-weight: 600;
    position: relative;
}
#portfolio h2::before
{
    content: "";
    width: 6.3rem;
    height: 3px;
    background-color: #da2c38;
    position: absolute;
    bottom: 20%;
    left: 35%;
}
.we
{
    width: 60%;
    height: 60%;
    /* border-radius: 50%; */
}
ul li
{
    list-style:none;
   color: black;
   font-weight: 400;
   text-align: left;
}
/*End Portfolio*/

/*Start Contact Me*/
.contactMe
{
    /* background-color: #f5b535; */
    background-color: #da2c38;
    /* height: 100vh; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.contact-item 
{
    border: solid 2px black;
    transition: all 1s;
    cursor: pointer;
    color: black;
}
.contact-item:hover 
{
    transform: translateY(-15px);
    background-color: black;
    /* color: #f5b535 !important; */
}
.contact-item:hover i
{
    /* color: #f5b535; */
    color: #fff;
}
.fa-mobile
{
    padding: 10px 10px;
    font-size: 30px;
    color: black;
}
.fa-google
{
    padding: 10px 10px;
    font-size: 30px;
    color: black;
}
/* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  } */
  @media  screen and (max-width:600px) {
      .contactMe .contact-item i {
        /* background-color: aqua; */
        font-size: 17px;
      }
      
  }
/*End Contact Me*/

/*Start loading screen*/
#loading
{
    background-color: #333;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999999999;
}
.spinner {
    margin: 220px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #da2c38;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
/*End loading screen*/